ISU_USERNAME = ""
ISU_PASSWORD = ""
SCHEDULE_START_DATE = "YYYY-MM-DD"
SCHEDULE_END_DATE = "YYYY-MM-DD"

# optional, needed for exception monitoring, see https://docs.sentry.io/product/sentry-basics/dsn-explainer/
SENTRY_DSN = ""
